<!-- update_data.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update Data</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .main {
      background-image: url({% static 'img/bg_students.bbae6663.jpg' %});
    }
    * {
      font-size: large;
      color: #961e64;
    }
    .form-control {
      height: auto !important;
    }
    .input-group-addon,
    .input-group-btn {
      width: auto !important;
    }
  </style>

  <body class="main p-4">
    <div class="container">
      <form
        class="well form-horizontal"
        action="/registerasUni/"
        method="post"
        id="contact_form"
      >
        {% csrf_token %}
        <fieldset>
          <!-- Form Name -->
          <legend>
            <button class="btn btn-lg btn-danger">
              <a href="{% url 'loginasUni' %}" class="btn btn-lg btn-danger">Back</a>
            </button>

            <div><br/>
              {% if error_message %}
                <div class="alert text-center alert-danger" role="alert">
                 <p>{{ error_message }}</P>
                </div>
              {% endif %}
              <h1 class="text-center">
                <b>University Register</b>
              </h1>
            </div>
          </legend>

          <!-- name input-->
          <h1>
            <b><i>University Data</i></b>
          </h1>
          {% comment %} University name {% endcomment %}

          <div class="form-group">
            <label class="col-md-4 control-label">University Name</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-user"></i
                ></span>
                <input
                  name="university_name"
                  placeholder="University Name"
                  class="form-control"
                  type="text"
                />
              </div>
            </div>
          </div>
            <!-- Email-->
          <div class="form-group">
            <label class="col-md-4 control-label">E-Mail</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-envelope"></i
                ></span>
                <input
                  name="email"
                  placeholder="E-Mail Address"
                  class="form-control"
                  type="email"
                />
              </div>
            </div>
          </div>
          
          {% comment %} password {% endcomment %}
          <div class="form-group">
            <label class="col-md-4 control-label">Password</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-envelope"></i
                ></span>
                <input
                  name="password"
                  placeholder="Password"
                  class="form-control"
                  type="password"
                />
              </div>
            </div>
          </div>
           {% comment %} confirm password {% endcomment %}
           <div class="form-group">
            <label class="col-md-4 control-label">Confirm Password</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-envelope"></i
                ></span>
                <input
                  name="confirm_password"
                  placeholder="Confirm password"
                  class="form-control"
                  type="password"
                />
              </div>
            </div>
          </div>
          

             <!-- HEC recognized -->
             <div class="form-group">
              <label class="col-md-4 control-label">Recognized by Hec</label>
              <div class="col-md-4 selectContainer">
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-list"></i
                  ></span>
                  <select name="hec_recognized" class="form-control selectpicker">
                    <option value="">Yes</option>
                    <option>No</option>
                  </select>
                </div>
              </div>
            </div>

          <!-- Register number -->

          <div class="form-group">
            <label class="col-md-4 control-label">HEC Registration Number</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-asterisk"></i
                ></span>
                <input
                  name="hec_registration_number"
                  placeholder="123456789123"
                  class="form-control"
                  type="text"
                />
              </div>
            </div>
          </div>

       

          <!-- Phone-->

          <div class="form-group">
            <label class="col-md-4 control-label">Phone #</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-earphone"></i
                ></span>
                <input
                  name="phone"
                  placeholder="0852-8989161"
                  class="form-control"
                  type="number"
                />
              </div>
            </div>
          </div>

          <!-- SProvince-->

          <div class="form-group">
            <label class="col-md-4 control-label">Province located</label>
            <div class="col-md-4 selectContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-list"></i
                ></span>
                <select name="province" class="form-control selectpicker">
                  <option value="">Province</option>
                  <option>Punjab</option>
                  <option>Sindh</option>
                  <option>Baluchistan</option>
                  <option>Peshawar</option>
                  <option>Ex-Fata</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Text input-->

          <div class="form-group">
            <label class="col-md-4 control-label">City Located</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-home"></i
                ></span>
                <input
                  name="city"
                  placeholder="City"
                  class="form-control"
                  type="text"
                />
              </div>
            </div>
          </div>
          <!-- campus -->
          <div class="form-group">
            <label class="col-md-4 control-label">Campus</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-home"></i
                ></span>
                <input
                  name="campus"
                  placeholder="Campus"
                  class="form-control"
                  type="text"
                />
              </div>
            </div>
          </div>

          <!-- Text input-->

          <div class="form-group">
            <label class="col-md-4 control-label">Zip Code</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-home"></i
                ></span>
                <input
                  name="zip_code"
                  placeholder="Zip Code"
                  class="form-control"
                  type="number"
                />
              </div>
            </div>
          </div>
          <!-- Text input-->

          <div class="form-group">
            <label class="col-md-4 control-label">Address</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-home"></i
                ></span>
                <input
                  name="address"
                  placeholder="Address"
                  class="form-control"
                  type="text"
                />
              </div>
            </div>
          </div>
          <br />
          <hr />

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4 text-center">
              {% comment %} <a href=""></a> {% endcomment %}
              <button onclick="alert('Data recorder! Please login.')"  name="signupasUni" type="submit" class="btn btn-lg btn-warning">Register</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <!-- /.container -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
